.zoombieland_font {
  /* font-family: "Zoombieland-YzEGO"; */
  src: url("../src/Zoombieland-YzEGO.ttf") format("truetype");
  color: blue;
}

#myCanvas1 {
  border: 1px solid black;
  width: 100%;
}

#myCanvas2 {
  border: 1px solid green;
  width: 100%;
  height: 50%;
}
