@font-face {
  font-family: "Zoombieland";
  src: url("../src/Zoombieland-YzEGO.ttf");
}

#header {
  overflow: auto;
}

#logo {
  float: left;
  /* background: #111; */
  width: 30%;
}

h1 {
  float: left, bottom;
  font-family: Zoombieland;
  src: url("../src/Zoombieland-YzEGO.ttf") format("truetype");
  /* width: 30%; */
}

#myCanvas1 {
  border: 1px solid black;
  width: 100%;
}

#myCanvas2 {
  border: 1px solid green;
  width: 100%;
  height: 50%;
}
